/SEDA/Proyecto1/PROJECT/Obj/Proyecto1.plg
/SEDA/Proyecto1/PROJECT/Proyecto1.uvgui.Usuario
/SEDA/Proyecto1/PROJECT/Proyecto1.uvopt
/SEDA/Proyecto1/PROJECT/Proyecto1.uvproj
/SEDA/Proyecto1/PROJECT/Proyecto1_LPC1768.dep
